doctype html
html
    head
        title LD31 - Never alone on this stupid screen
        link(href='css/css.css', rel='stylesheet')
    body
        script(src='/socket.io/socket.io.js')
        script(src='lib/buzz.min.js')
        script(src='lib/keyboard.js')
        script(src='lib/pixi.dev.js')

        script(src='js/common.js')

        script(src='js/laser.js')
        script(src='js/sound.js')
        script(src='js/monster.js')
        script(src='js/lifebar.js')
        script(src='js/expbar.js')
        script(src='js/other.js')
        script(src='js/player.js')
        script(src='js/tiles.js')
        script(src='js/world.js')
        script(src='js/game.js')
        script(src='js/keyboard.js')
        script(src='js/network.js')
