doctype html
html
    head
        title LD31
        link(href='css/css.css', rel='stylesheet')
    body
        script(src='/socket.io/socket.io.js')
        script(src='lib/pixi.dev.js')

        script(src='js/common.js')
        script(src='js/game.js')
