body {
    margin: 0;
    padding: 0;
    background-color:black;
    overflow:hidden;
}

html, body {
    width:100%;
    height:100%;
}

canvas {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'pressstart';
    src: url('../res/prstartk.ttf');
}

#placeholder {
    display:inline;
    visibility:hidden;
    color:black;
    width:0px;
    height:0px;
    font-family: 'pressstart';
}